.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: hwb(219 40% 20%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  opacity: 0.7;
}

  body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #cdd7f3; */
    background-image: url('images/Background\ Frame\ With\ Fluid\ Style\ And\ Blue\ Violet\ Gradient\ Colors\ And\ With\ Geometric\ Shapes\ Can\ Be\ Used\ For\ Presentation\ Banner\ Promotion\ Thumbnail\ Promotion\ Motion\ Graphic\ Animation\ Poster\,\ Wallpaper\,\ Gradient\,\ Ab.jpg');
    flex:1;
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }
  .display {
    /* height: 80px;
    width: 100%; */
    flex:1;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
  }
  
  .buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}

button:hover {
    background-color: #ccc; 
}

button:active {
    background-color: #999; 
    transform: scale(0.99);
}

  
